<div fxLayout="column">
    <div>
        <h1>Buscador de héroes</h1>
        <mat-divider></mat-divider>
    </div>
    <div fxLayout="column">       
        <mat-form-field>
            <input type="text" 
                   placeholder="Buscar..." 
                   aria-label="Number" 
                   matInput 
                   [(ngModel)]="query"
                   [matAutocomplete]="auto" 
                   (input)="searching()">
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="optionSelected($event)">
                <mat-option *ngFor="let hero of heroes" [value]="hero">
                    {{hero.superhero}}
                </mat-option>
                <mat-option value="" *ngIf="heroNotFound()">
                    No se encontró ningún héroe

                </mat-option>
            </mat-autocomplete>

        </mat-form-field>
    </div>
    <div>
        <pre>{{selectedHero|json}}</pre>
    </div>
</div>